*{
  margin: 0;
  padding: 0;
}
.header{
  height: 5vh;
  width: 100%;
  display: flex;
  font-size: 30px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.header2{
  height: 5vh;
  width: 100%;
  display: flex;
  font-size: 30px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.logo{
  height: 23px;
  width: 23px;
  margin-right: 10px;
}
.logo2{
  height: 23px;
  width: 23px;
  margin: 7px 40px 0 20px;
}
.themeBtn{
  margin-left: auto;
  margin-right: 50px;
  padding: 10px;
  text-align: center;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.reachinbox{
  margin-left: auto;
}
.footer{
  height: 2vh;
  width: 100%;
  display: flex;
  font-size: 20px;
  padding: 10px;
  justify-content: center;
}
.signup{
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.googleSignUp{
  margin: 0 auto;
  width: 20vw;
  border: 1px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
}
.create{
  height: 40px;
  width: 10vw;
  background-color: #112FC3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.gcreate{
  height: 40px;
  width: 18vw;
  background-color: #3a3a3a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.openbox{
  height: 85vh;
  width: 100%;
  display: flex;
}
.sidebar{
  height: 89vh;
  width: 5vw;
  display: flex;
  justify-content: center;
}
.sideLogos{
  height: 100%;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  gap: 30px;
  margin-top: 5vh;
}
.img2{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 80px;
}
.img3{
  height: 50vh;
}
.sb{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.centralPic{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.inbox{
  width: 15vw;
  height: 82vh;
  border-right: solid 1px #3a3a3a;
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.mails{
  width: 50vw;
  height: 80vh;
}
.rightSide{
  width: 20vw;
  padding: 30px;
  margin-left: 50px;
  border-left: solid 1px grey;
}